omnibus
.*.swp
Session.vim
*.log
*.preproc.sv
tags
*transcript
vsim.wlf
vsim.dbg
Makefile.vmake
wlft*
vsim_stacktrace.vstf
vish_stacktrace.vstf
work/
dump_*.mem
dump_*.bin
*.o
*.pyc
*.disas
test/testcode/c/cshell
test/testcode/c/eblinker
test/testcode/c/time_base
test/testcode/c/bcache_bench
test/testcode/c/ee_printf_test
test/testcode/c/io_test
test/testcode/c/multiproc_demo_master
test/testcode/c/multiproc_demo_slave
test/testcode/c/quicktest
test/testcode/c/breakpoint_dummy
test/testcode/c/dbell_calculator
test/testcode/c/selftest
test/testcode/c/wait_resume
test/testcode/c/*.disas
test/testcode/c/*.s
test/testcode/coremark_v1.0/bss.mem
test/testcode/coremark_v1.0/coremarkx_prog.svf
test/testcode/coremark_v1.0/hex_code.mem
test/testcode/coremark_v1.0/hex_data.mem
test/testcode/coremark_v1.0/hex_rodata.mem
test/testcode/coremark_v1.0/coremark.bin
test/testcode/neuroproc/*.disas
test/testcode/neuroproc/*.s
test/testcode/neuroproc/neuron
test/testcode/neuroproc/single_neuron
test/testcode/neuroproc/synarray
test/testcode/neuroproc/synplast
*~
fpga/memory_bd.bmm
fpga/_xmsgs
fpga/syn/*
!fpga/syn/ise_par_script.tcl
!fpga/syn/ise_par_script_emsys.tcl
!fpga/syn/p1.prj
!fpga/syn/pinout.sfp
!fpga/syn/pins_1.sdc
!fpga/syn/emsys_project.tcl
!fpga/syn/p1_project.tcl
!fpga/syn/emsys_constraints.sdc
fpga/timing_sim/*
lib/
test/testcode/tn_testflow/emp_mem_ad.txt
test/testcode/tn_testflow/endianneu.txt
test/testcode/tn_testflow/maybe_useful/umwandlung
test/testcode/tn_testflow/maybe_useful/zufall
test/testcode/tn_testflow/temp_mem_ad.txt
test/testcode/tn_testflow/temp_timer_ad.txt
test/testcode/tn_testflow/tn_compare
test/testcode/tn_testflow/tn_testflow
test/testcode/tn_testflow/fibonacci
test/testcode/tn_testflow/maze
test/testcode/tn_testflow/kmp_search
test/testcode/tn_testflow/operators
test/testcode/tn_testflow/switch
test/testcode/tn_testflow/prime
test/testcode/tn_testflow/*.disas
test/testcode/tn_testflow/*.o.s
test/testcode/tn_testflow/*_code.mem
test/testcode/tn_testflow/*_data.mem
test/testcode/tn_testflow/*_hex_bss.mem
test/testcode/tn_testflow/*_hex_data.mem
test/testcode/tn_testflow/*_hex_rodata.mem
test/testcode/tn_testflow/*_hex_sbss.mem
test/testcode/tn_testflow/*_prog.svf
test/testcode/tn_testflow/*_temp_mem_ad.txt
test/testcode/tn_testflow/*_temp_timer_ad.txt
support/control_software/dump.bin
support/control_software/interpreter
support/control_software/result_byte.txt
DVEfiles
dc/runlib
dc/rundir
dc/results
dc/default.svf
ncsim/INCA_libs
test/testcode/hicann/syn_read
test/testcode/hicann/local_rule
test/testcode/hicann/syn_read_ectrl
test/testcode/hicann/syn_read.s
test/testcode/hicann/local_rule.s
test/testcode/hicann/syn_read_ectrl.s
test/testcode/hicann/*.raw

target/core_netlist/build
target/core_netlist/results
target/core_netlist/rundir
verification/*/build
target/*/build
results/*
*.elab
